{% extends 'notes/base.html' %}
{% load static %}
{% block content %}



<section class="section main">


	{% for note in notes %}
	<div class="columns is-centered">
		<div class="column is-half">
			<a href="{% url 'note_detail' pk=note.pk %}">
				<article class="tile is-child notification  blue">
					<p class="title">{{ note.title }}</p>
					<p class="subtitle">{{ note.text| slice:"0:45" }}...</p>
				</article>
			</a>
		</div>
	</div>
	{% endfor %}
	<div class="is-fab ">
		<a class="button is-dark is-large is-rounded has-shadow" href="{% url 'note_new' %}">
			<span class="icon">
				<i class="fas fa-plus"></i>
			</span>
			<span>Adic. Nota</span>
		</a>
	</div>
</section>
<div class="nav">

	<a href="/">
		<h1 class="is-title">
			Notas
		</h1>
	</a>


</div>
{% endblock %}